{% extends "base.html" %}

{% block content %}
  <div class="container mb-2">
    <form action="/users" method="GET">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="minSalary">Minimum Salary</label>
          <input type="number" class="form-control" id="minSalary" name="minSalary" min="0" max="1000000" value={{status_info.current_min_salary}} required>
        </div>
        <div class="form-group col-md-4">
          <label for="maxSalary">Maximum Salary</label>
          <input type="number" class="form-control" id="maxSalary" name="maxSalary" min="0" max="1000000" value={{status_info.current_max_salary}} required>
        </div>
        <input type="number" class="form-control" id="limit" name="limit" value="30" required hidden>
        <div class="form-group col-md-4">
          <label for="inputState">Sort</label>
          <select id="sort" name="sort" class="form-control" value={{status_info.current_sort}}>
            <option value="+name" {% if status_info.current_sort=="+name" %} selected="selected"{% endif %}>name asc</option>
            <option value="-name" {% if status_info.current_sort=="-name" %} selected="selected"{% endif %}>name desc</option>
            <option value="+id" {% if status_info.current_sort=="+id" %} selected="selected"{% endif %}>id asc</option>
            <option value="-id" {% if status_info.current_sort=="-id" %} selected="selected"{% endif %}>id desc</option>
            <option value="+login" {% if status_info.current_sort=="+login" %} selected="selected"{% endif %}>login asc</option>
            <option value="-login" {% if status_info.current_sort=="-login" %} selected="selected"{% endif %}>login desc</option>
            <option value="+salary" {% if status_info.current_sort=="+salary" %} selected="selected"{% endif %}>salary asc</option>
            <option value="-salary" {% if status_info.current_sort=="-salary" %} selected="selected"{% endif %}>salary desc</option>
          </select>
        </div>
      </div>
      <div class="form-group-row">
        <button class="btn btn-primary float-right" name="offset" value="0" type="submit">Search</button>
      </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">login</th>
            <th scope="col">name</th>
            <th scope="col">salary</th>
            <th class="text-right" scope="col">actions</th>
          </tr>
        </thead>
        <tbody>
          {% for data in status_info.results %}
            <tr>
              <th scope="row">{{ data["id"] }}</th>
              <td>{{ data["login"] }}</td>
              <td>{{ data["name"] }}</td>
              <td>{{ data["salary"] }}</td>
              <td class="float-right">
                <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#editModal{{ data.id }}">Edit</button>
                <button class="btn btn-outline-danger" type="button" onclick="deleteRequest('{{data.id}}')">Delete</button>
            </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div>
        <nav aria-label="Table Pagination">
          <ul class="pagination justify-content-end">
            {% if status_info.pagination_start > 0 %}
              <li class="page-item"><button class="btn btn-outline-primary" disabled>...</button></li>
            {% endif %}
            {% for count in range(status_info.pagination_start + 1, status_info.pagination_end + 1) %}
              <li class="page-item"><button class="btn btn-outline-primary" name="offset" value={{(count - 1) * 30}} type="submit">{{count}}</button></li>
            {% endfor %}
            <li class="page-item"><button class="btn btn-outline-primary" disabled>...</button></li>
          </ul>
        </nav>
      </div>
    </form>
  </div>

  {% for data in status_info.results %}
    <div class="modal fade" id="editModal{{ data.id }}" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Edit</h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <form action="javascript:;" onsubmit="updateRequest(this)" method="">
            <div class="modal-body">
              <input type="text" class="form-control" id="id" name="id" value={{data.id}} required hidden>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="login">Login</label>
                  <input type="text" class="form-control" id="login" name="login" value={{data.login}} required>
                </div>
                <div class="form-group col-md-4">
                  <label for="salary">Salary</label>
                  <input type="number" class="form-control" id="salary" name="salary" min="0" max="1000000" value={{data.salary}} required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-8">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" name="name" value={{data.name}} required>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-primary">Save</button>
              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  {% endfor %}

  <script>
    function deleteRequest(id){
      if (confirm(`Are you sure you would like to delete employee with id : ${id}`)) {
        $.ajax({
          url: "/users/" + id,
          type: "DELETE"
       }).done(function(res) {
          alert("Successfully delete employee from database!");
          location.reload();
       }).fail(function(err) {
          alert( "Error occrred while deleting", err );
       })
      };
    };
    function updateRequest(formData){
      $.ajax({
        url: "/users/" + formData.id.value,
        type: "PATCH",
        contentType: "application/json",
        data: JSON.stringify({
          id: formData.id.value,
          login: formData.login.value,
          name: formData.name.value,
          salary: +formData.salary.value
        })
      }).done(function(res) {
        alert( "Successfully updated employee details!", res );
        location.reload();
      }).fail(function(err) {
        alert( "Error occurred while deleting", err );
      })
  };
</script>
{% endblock %}
