{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1 class="text-center">Upload CSV File</h1>
      <p class="text-center">Browse for a CSV with the employee details to upload into the database.</p>
      <form class="text-right" action="/users/upload" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <input type="file" class="form-control-file" name="file" placeholder="Browse for CSV" required>
          <button type="submit" class="btn btn-outline-primary">Upload</button>
        </div>
      </form>
    </div>
   </div>
{% endblock %}
