{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="jumbotron bg-danger">
      <h1 class="text-center text-white">Error {{status_info.status_code}} has occured.</h1>
    </div>
    <p class="text-center">{{status_info.info}}</p>
    <p class="text-center">Click <a href={{referrer}}>here</a> to go back</p>
   </div>
{% endblock %}
